# Weekly Challenge 10

*Original URL* https://community.alteryx.com/t5/Weekly-Challenge/Challenge-10-Date-Time-Calculations/td-p/36737 and [**My Alteryx Approach**](https://github.com/dsmdavid/Alteryx-Weekly-Challenge/tree/master/submitted/sub_Challenge%2310)

## Brief

### Date Time Calculations:

A distribution center receives a package. At the point of receipt, the package is scanned and a timestamp is captured for arrival date/time. The company is trying to reduce the amount of time the package is at its facility and as a result is trying to analyze how long packages remain at the facility.

The objective for this challenge is to calculate the delta between arrival date/time and the Time_Now field (this field has the date/time of the creation of this challenge and will be changing as time goes on). Create a unique field for Days, Hours, Minutes and Seconds.

We have listed this as an intermediate exercise  and I expect it will go very quickly for many of you. Let us know what you think, we are looking forward to hearing your feedback.

In [1]:
import pandas as pd

## Approach I want to follow:
1. Read the data.
1. Calculate the difference.
1. Extract fields.

In [83]:
#Load the data
#Treate TIMESTAMP and Time_Now as dates
df = pd.read_csv("./10_files/10_input.csv", parse_dates=[1,2])
                 
df.head()

  Registrant ID           TIMESTAMP            Time_Now
0   HPNZGSDMQMX 2014-07-09 11:07:47 2014-07-14 08:24:35
1   F5NZRZ3YVRD 2014-07-09 08:40:07 2014-07-14 08:24:35
2   FHNBTNMV3MP 2014-07-08 12:26:56 2014-07-14 08:24:35
3   ZHN7W97Z955 2014-07-08 13:26:38 2014-07-14 08:24:35
4   ZKNWRVBTXZ2 2014-07-08 13:25:42 2014-07-14 08:24:35

In [84]:
#Calculate the diference:
df['dif'] = df['Time_Now'] -df['TIMESTAMP']
df.head()

  Registrant ID           TIMESTAMP            Time_Now             dif
0   HPNZGSDMQMX 2014-07-09 11:07:47 2014-07-14 08:24:35 4 days 21:16:48
1   F5NZRZ3YVRD 2014-07-09 08:40:07 2014-07-14 08:24:35 4 days 23:44:28
2   FHNBTNMV3MP 2014-07-08 12:26:56 2014-07-14 08:24:35 5 days 19:57:39
3   ZHN7W97Z955 2014-07-08 13:26:38 2014-07-14 08:24:35 5 days 18:57:57
4   ZKNWRVBTXZ2 2014-07-08 13:25:42 2014-07-14 08:24:35 5 days 18:58:53

In [85]:
#Extract the parts
def getComponents(x):
    x = x['dif']
    return [x.components.days, x.components.hours, x.components.minutes, x.components.seconds]

df[['Days', 'Hours', 'Minutes','Seconds']] = df.apply(getComponents, axis =1, result_type = 'expand')

In [86]:
df.head()

,Registrant ID,TIMESTAMP,Time_Now,dif,Days,Hours,Minutes,Seconds
0,HPNZGSDMQMX,2014-07-09 11:07:47,2014-07-14 08:24:35,4 days 21:16:48,4,21,16,48
1,F5NZRZ3YVRD,2014-07-09 08:40:07,2014-07-14 08:24:35,4 days 23:44:28,4,23,44,28
2,FHNBTNMV3MP,2014-07-08 12:26:56,2014-07-14 08:24:35,5 days 19:57:39,5,19,57,39
3,ZHN7W97Z955,2014-07-08 13:26:38,2014-07-14 08:24:35,5 days 18:57:57,5,18,57,57
4,ZKNWRVBTXZ2,2014-07-08 13:25:42,2014-07-14 08:24:35,5 days 18:58:53,5,18,58,53

In [81]:
#df_applied = df.apply(lambda row: [row['dif'].components.days, row['dif'].components.hours], axis = 'columns', result_type = 'expand')

## Condensed approach:

In [87]:
import time
t1 = time.time()
import pandas as pd

#Input data
df = pd.read_csv("./10_files/10_input.csv", parse_dates=[1,2])

def getComponents(row):
    x = row['Time_Now'] -row['TIMESTAMP']
    return [x.components.days, x.components.hours, x.components.minutes, x.components.seconds]

df[['Days', 'Hours', 'Minutes','Seconds']] = df.apply(getComponents, axis =1, result_type = 'expand')

print(df)
t2 = time.time()
t2-t1

   Registrant ID           TIMESTAMP            Time_Now  Days  Hours  \
0    HPNZGSDMQMX 2014-07-09 11:07:47 2014-07-14 08:24:35     4     21
1    F5NZRZ3YVRD 2014-07-09 08:40:07 2014-07-14 08:24:35     4     23
2    FHNBTNMV3MP 2014-07-08 12:26:56 2014-07-14 08:24:35     5     19
3    ZHN7W97Z955 2014-07-08 13:26:38 2014-07-14 08:24:35     5     18
4    ZKNWRVBTXZ2 2014-07-08 13:25:42 2014-07-14 08:24:35     5     18
5    HGNYD3V77CQ 2014-07-07 19:13:24 2014-07-14 08:24:35     6     13
6    HJN6JRBWR3Z 2014-07-08 11:39:52 2014-07-14 08:24:35     5     20
7    KNNHPH2YTPX 2014-07-07 14:35:10 2014-07-14 08:24:35     6     17
8    JPNX3YQ5GV3 2014-07-08 10:35:18 2014-07-14 08:24:35     5     21
9    ZFN8QQ3RSP7 2014-07-07 20:00:46 2014-07-14 08:24:35     6     12
10   ZFN8QQ3RSP7 2014-07-09 13:31:24 2014-07-14 08:24:35     4     18
11   GTNVDYQPLXT 2014-07-08 13:26:46 2014-07-14 08:24:35     5     18
12   ZPNZYQRYRP9 2014-07-07 14:13:24 2014-07-14 08:24:35     6     18
13   N5N8T5CKSXY 2014-07-07 17:06:37 2014-07-14 08:24:35     6     15
14   HNNDMTZHK7R 2014-07-08 13:01:44 2014-07-14 08:24:35     5     19
15   ZDNF7FBYH54 2014-07-08 08:41:20 2014-07-14 08:24:35     5     23
16   N9NJ275XPMZ 2014-07-09 11:21:16 2014-07-14 08:24:35     4     21
17   KMNC8ML97ZK 2014-07-07 17:10:34 2014-07-14 08:24:35     6     15
18   KMNC8ML97ZK 2014-07-07 17:42:25 2014-07-14 08:24:35     6     14
19   JYNLNB87C73 2014-07-07 14:55:58 2014-07-14 08:24:35     6     17
20   N4N4QCSJWQX 2014-07-07 15:48:03 2014-07-14 08:24:35     6     16
21   P8N4TSH8SL3 2014-07-08 16:37:45 2014-07-14 08:24:35     5     15
22   LHNKDQDD8G3 2014-07-07 20:01:11 2014-07-14 08:24:35     6     12
23   LHNKDQDD8G3 2014-07-09 13:31:40 2014-07-14 08:24:35     4     18
24   PJNT3NKM6F4 2014-07-07 19:45:35 2014-07-14 08:24:35     6     12
25   G9NNGTMNLPJ 2014-07-08 08:44:18 2014-07-14 08:24:35     5     23
26   G9NNGTMNLPJ 2014-07-08 16:54:40 2014-07-14 08:24:35     5     15
27   F2NCWKFQ5FS 2014-07-09 11:12:11 2014-07-14 08:24:35     4     21
28   MDNSZPY6MLY 2014-07-08 16:17:20 2014-07-14 08:24:35     5     16
29   K7NW774HZMJ 2014-07-07 14:15:57 2014-07-14 08:24:35     6     18
30   K7NW774HZMJ 2014-07-07 19:13:16 2014-07-14 08:24:35     6     13
31   N6ND7Z47PGT 2014-07-08 11:40:25 2014-07-14 08:24:35     5     20
32   N6ND7Z47PGT 2014-07-08 12:26:32 2014-07-14 08:24:35     5     19
33   N6ND7Z47PGT 2014-07-08 12:26:46 2014-07-14 08:24:35     5     19
34   Z2NJRFDVDN6 2014-07-08 10:35:28 2014-07-14 08:24:35     5     21
35   VWN6ZZ99L3Q 2014-07-08 14:47:01 2014-07-14 08:24:35     5     17
36   GMN8T99TPMR 2014-07-07 18:20:02 2014-07-14 08:24:35     6     14
37   NTNS4MJ672W 2014-07-07 18:06:19 2014-07-14 08:24:35     6     14
38   V7NLG9GJ2B9 2014-07-09 12:52:35 2014-07-14 08:24:35     4     19
39   LGNFMNWML96 2014-07-09 11:37:13 2014-07-14 08:24:35     4     20
40   NMNP8S4HMDC 2014-07-08 14:34:21 2014-07-14 08:24:35     5     17
41   J6NT6YM6BYF 2014-07-09 13:08:53 2014-07-14 08:24:35     4     19
42   VBNHT8DPRD5 2014-07-08 15:11:35 2014-07-14 08:24:35     5     17
43     onsite095 2014-07-09 12:54:48 2014-07-14 08:24:35     4     19
44   HVN9P6WBWPD 2014-07-07 17:38:41 2014-07-14 08:24:35     6     14
45   KMNW7B2ZXV4 2014-07-08 13:13:04 2014-07-14 08:24:35     5     19

    Minutes  Seconds
0        16       48
1        44       28
2        57       39
3        57       57
4        58       53
5        11       11
6        44       43
7        49       25
8        49       17
9        23       49
10       53       11
11       57       49
12       11       11
13       17       58
14       22       51
15       43       15
16        3       19
17       14        1
18       42       10
19       28       37
20       36       32
21       46       50
22       23       24
23       52       55
24       39        0
25       40       17
26       29       55
27       12       24
28        7       15
29        8       38
30       11       19
31       44       10
32       58        3
33       57       49
34       49        7
35       37       34
36        4       33
37       18       16
38       32        0
39       47       22
40       50       14
41       15       42
42       13        0
43       29       47
44       45       54
45       11       31

0.0468754768371582

In [88]:
df.head()

,Registrant ID,TIMESTAMP,Time_Now,Days,Hours,Minutes,Seconds
0,HPNZGSDMQMX,2014-07-09 11:07:47,2014-07-14 08:24:35,4,21,16,48
1,F5NZRZ3YVRD,2014-07-09 08:40:07,2014-07-14 08:24:35,4,23,44,28
2,FHNBTNMV3MP,2014-07-08 12:26:56,2014-07-14 08:24:35,5,19,57,39
3,ZHN7W97Z955,2014-07-08 13:26:38,2014-07-14 08:24:35,5,18,57,57
4,ZKNWRVBTXZ2,2014-07-08 13:25:42,2014-07-14 08:24:35,5,18,58,53